USE [master]
GO
/****** Object:  Database [Bib]    Script Date: 24.05.2021 8:51:19 ******/
CREATE DATABASE [Bib]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bib', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bib.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Bib_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Bib_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bib].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bib]
GO
/****** Object:  Table [dbo].[InventarnoyKnigi]    Script Date: 24.05.2021 8:51:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventarnoyKnigi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Kod] [int] NULL,
 CONSTRAINT [PK_InventarnoyKnigi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journal]    Script Date: 24.05.2021 8:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingStartData] [datetime] NULL,
	[BookingEndData] [datetime] NULL,
	[BookingStatus] [int] NULL,
	[IdBook] [int] NULL,
	[F] [nvarchar](50) NULL,
	[I] [nvarchar](50) NULL,
	[O] [nvarchar](50) NULL,
 CONSTRAINT [PK_Journal] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kniga]    Script Date: 24.05.2021 8:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kniga](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KodInventarnoyKnigi] [int] NULL,
	[Author] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[MestoIzdaniya] [nvarchar](50) NULL,
	[GodIzdaniya] [int] NULL,
	[RazdelSistematicheskogoKataloga] [nchar](10) NULL,
	[Availability] [bit] NULL,
	[Keyword] [int] NULL,
	[NoteToEmployees] [nvarchar](100) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Kniga] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publication]    Script Date: 24.05.2021 8:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusKniga] [nvarchar](50) NULL,
 CONSTRAINT [PK_Publication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 24.05.2021 8:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 24.05.2021 8:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24.05.2021 8:51:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[IsBlocked] [bit] NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Journal]  WITH CHECK ADD  CONSTRAINT [FK_Journal_Kniga] FOREIGN KEY([IdBook])
REFERENCES [dbo].[Kniga] ([Id])
GO
ALTER TABLE [dbo].[Journal] CHECK CONSTRAINT [FK_Journal_Kniga]
GO
ALTER TABLE [dbo].[Journal]  WITH CHECK ADD  CONSTRAINT [FK_Journal_Status] FOREIGN KEY([BookingStatus])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Journal] CHECK CONSTRAINT [FK_Journal_Status]
GO
ALTER TABLE [dbo].[Kniga]  WITH CHECK ADD  CONSTRAINT [FK_Kniga_InventarnoyKnigi] FOREIGN KEY([KodInventarnoyKnigi])
REFERENCES [dbo].[InventarnoyKnigi] ([Id])
GO
ALTER TABLE [dbo].[Kniga] CHECK CONSTRAINT [FK_Kniga_InventarnoyKnigi]
GO
ALTER TABLE [dbo].[Kniga]  WITH CHECK ADD  CONSTRAINT [FK_Kniga_Publication] FOREIGN KEY([Status])
REFERENCES [dbo].[Publication] ([Id])
GO
ALTER TABLE [dbo].[Kniga] CHECK CONSTRAINT [FK_Kniga_Publication]
GO
ALTER TABLE [dbo].[Kniga]  WITH CHECK ADD  CONSTRAINT [FK_Kniga_Type] FOREIGN KEY([Keyword])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Kniga] CHECK CONSTRAINT [FK_Kniga_Type]
GO
/****** Object:  Statistic [_WA_Sys_00000002_49C3F6B7]    Script Date: 24.05.2021 8:51:22 ******/
CREATE STATISTICS [_WA_Sys_00000002_49C3F6B7] ON [dbo].[InventarnoyKnigi]([Kod]) WITH STATS_STREAM = 0x0100000001000000000000000000000000F7DB1900000000DB010000000000009B010000000000003802D4F63800000004000A0000000000000000000F020000070000001CC7E80028AD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_InventarnoyKnigi]    Script Date: 24.05.2021 8:51:23 ******/
UPDATE STATISTICS [dbo].[InventarnoyKnigi]([PK_InventarnoyKnigi]) WITH STATS_STREAM = 0x010000000100000000000000000000000F8A99A80000000076020000000000003602000000000000380300003800000004000A0000000000000000000000000007000000A04EF80028AD00000A000000000000000A000000000000000000803FCDCCCC3D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000020410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000BA00000000000000C200000000000000CA00000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F05000000040000100014000000803F0000803F0000803F07000000040000100014000000803F0000803F0000803F09000000040000100014000000803F000000000000803F0A0000000400000A000000000000000000000000000000, ROWCOUNT = 10, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000006_44FF419A]    Script Date: 24.05.2021 8:51:23 ******/
CREATE STATISTICS [_WA_Sys_00000006_44FF419A] ON [dbo].[Journal]([IdBook]) WITH STATS_STREAM = 0x0100000001000000000000000000000023E3D64E00000000DB010000000000009B01000000000000380200003800000004000A0000000000000000000000000007000000C8D24B012AAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0400000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Journal]    Script Date: 24.05.2021 8:51:23 ******/
UPDATE STATISTICS [dbo].[Journal]([PK_Journal]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Kniga]    Script Date: 24.05.2021 8:51:23 ******/
UPDATE STATISTICS [dbo].[Kniga]([PK_Kniga]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_17036CC0]    Script Date: 24.05.2021 8:51:23 ******/
CREATE STATISTICS [_WA_Sys_00000002_17036CC0] ON [dbo].[Publication]([StatusKniga]) WITH STATS_STREAM = 0x0100000001000000000000000000000090CA519C00000000A7020000000000006702000000000000E7020000E7000000640000000000000015D000000000000007000000353DC10031AD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000090420000803F00000000000090420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000006700000000000000E300000000000000EB00000000000000F3000000000000000800000000000000300010000000803F000000000000803F04000001005F00420440043504310443043504420420003F0440043E043204350440043A043804200038042C0020004B043E0437043C043E0436043D043E042C0020003F044004300432043A043804FF010000000000000001000000010000002800000028000000000000000000000024000000420440043504310443043504420420003F0440043E043204350440043A043804200038042C0020004B043E0437043C043E0436043D043E042C0020003F044004300432043A04380402000000400000000001240000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Publication]    Script Date: 24.05.2021 8:51:23 ******/
UPDATE STATISTICS [dbo].[Publication]([PK_Publication]) WITH STATS_STREAM = 0x01000000010000000000000000000000843B08C10000000040000000000000000000000000000000380300003800000004000A00000000000000000024000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_3C69FB99]    Script Date: 24.05.2021 8:51:23 ******/
CREATE STATISTICS [_WA_Sys_00000002_3C69FB99] ON [dbo].[Status]([Status]) WITH STATS_STREAM = 0x01000000010000000000000000000000D3D8CCB70000000077020000000000003702000000000000E7020000E7000000640000000000000015D000000000000007000000E156ED0028AD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040420000803F00000000000040420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000004F00000000000000B300000000000000BB00000000000000C3000000000000000800000000000000300010000000803F000000000000803F04000001004700380434043504420420003F043E0434043204350440043604340435043D04380435042000370430044F0432043A043804FF010000000000000001000000010000002800000028000000000000000000000018000000380434043504420420003F043E0434043204350440043604340435043D04380435042000370430044F0432043A04380402000000400000000001180000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Status]    Script Date: 24.05.2021 8:51:23 ******/
UPDATE STATISTICS [dbo].[Status]([PK_Status]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_73BA3083]    Script Date: 24.05.2021 8:51:23 ******/
CREATE STATISTICS [_WA_Sys_00000002_73BA3083] ON [dbo].[Type]([Type]) WITH STATS_STREAM = 0x010000000100000000000000000000002D40F49E000000002B02000000000000EB01000000000000E7020000E7000000640000000000000015D000000000000007000000325150012CAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000290000000000000067000000000000006F0000000000000077000000000000000800000000000000300010000000803F000000000000803F040000010021001A043D04380433043004FF0100000000000000010000000100000028000000280000000000000000000000050000001A043D0438043304300402000000400000000001050000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Type]    Script Date: 24.05.2021 8:51:23 ******/
UPDATE STATISTICS [dbo].[Type]([PK_Type]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_3E52440B]    Script Date: 24.05.2021 8:51:23 ******/
CREATE STATISTICS [_WA_Sys_00000002_3E52440B] ON [dbo].[Users]([Login]) WITH STATS_STREAM = 0x010000000100000000000000000000001756827C00000000AB020000000000006B02000000000000E7020000E7000000640000000000000015D000000000000007000000635E060121AD000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000005555954000004040000000005555954000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B0400000000000000000000000000004A000000000000008F00000000000000DF00000000000000E700000000000000EF00000000000000100000000000000029000000000000003000100000000040000000000000803F040000010019003100300010000000803F000000000000803F04000001002100610064006D0069006E00FF0100000000000000030000000200000028000000280000000000000000000000060000003100610064006D0069006E000300000040000000008201000000010501000000010000001B2CFA0020AD0000000000000000F03F010000000000000001000000000000000000F03F0000000000000000000000000000F03F000000000000E03F000000000000F8BFE23C3C2790DDF03F03000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_3E52440B]    Script Date: 24.05.2021 8:51:23 ******/
CREATE STATISTICS [_WA_Sys_00000003_3E52440B] ON [dbo].[Users]([Password]) WITH STATS_STREAM = 0x010000000100000000000000000000002F669843000000007D020000000000003D02000000000000E702FFFFE7000000640000000000000015D000000000000007000000495E060121AD00000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000ABAAAA400000404000000000ABAAAA400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000006D00000000000000B900000000000000C100000000000000C900000000000000180000000000000031000000000000004C00000000000000300010000000803F000000000000803F040000010019003100300010000000803F000000000000803F04000001001B0031003800300010000000803F000000000000803F04000001002100610064006D0069006E00FF01000000000000000300000003000000280000002800000000000000000000000700000031003800610064006D0069006E00040000004000000000C101000000010101000001050200000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_3E52440B]    Script Date: 24.05.2021 8:51:23 ******/
CREATE STATISTICS [_WA_Sys_00000004_3E52440B] ON [dbo].[Users]([IsBlocked]) WITH STATS_STREAM = 0x010000000100000000000000000000006F802F6E00000000F401000000000000B401000000000000680200006800000001000100000000000000000000000000070000007E5F060121AD000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F00004040000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000380000000000000040000000000000004800000000000000100000000000000024000000000000001000110000000040000000000000803F00040000100011000000803F000000000000803F0104000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_3E52440B]    Script Date: 24.05.2021 8:51:23 ******/
CREATE STATISTICS [_WA_Sys_00000005_3E52440B] ON [dbo].[Users]([Role]) WITH STATS_STREAM = 0x0100000001000000000000000000000075FD523E000000008F020000000000004F02000000000000E7020000E7000000640000000000000015D0000000000000070000007A5F060121AD000003000000000000000300000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000ABAA9A410000404000000000ABAA9A410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000006800000000000000CB00000000000000D300000000000000DB0000000000000010000000000000004100000000000000300010000000803F000000000000803F04000001003100300434043C0438043D043804410442044004300442043E0440043000100000000040000000000000803F040000010027003C0435043D0435043404360435044004FF010000000000000003000000020000002800000028000000000000000000000015000000300434043C0438043D043804410442044004300442043E0440043C0435043D0435043404360435044004030000004000000000810D00000002080D00000003000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Users]    Script Date: 24.05.2021 8:51:23 ******/
UPDATE STATISTICS [dbo].[Users]([PK_Users]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
USE [master]
GO
